!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    / Required meta tags
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
  %body

    %nav.navbar.navbar-expand-lg.navbar-light
      %a.navbar-brand{href: "#"} 
        %span Elite
        %span Corp

      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbar", "data-toggle" => "collapse", type: "button"}
        %span.navbar-toggler-icon
      #navbar.collapse.navbar-collapse
        %ul.navbar-nav.ml-auto
          %li.nav-item.active
            %a.nav-link{href: "#"}
              Home
              %span.sr-only (current)
          %li.nav-item
            %a.nav-link{href: "#"} About

          %li.nav-item
            %a.nav-link{href: "#"} Work
          
          %li.nav-item
            %a.nav-link{href: "#"} Blog

          %li.nav-item
            %a.nav-link{href: "#"} Contact      
          
    
    .slider
      #carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
        %ol.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleIndicators"}
          %li{"data-slide-to" => "1", "data-target" => "#carouselExampleIndicators"}
          %li{"data-slide-to" => "2", "data-target" => "#carouselExampleIndicators"}
        .carousel-inner
          %h1 
            We're an Independent
            %br
            Design and  
            %span>   Development
            %br 
            Agency
          .overlay

          .carousel-item.active
            %img.d-block.w-100{:alt => "First slide", :src => "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8sTYV7AO0Fy1F8cfJ7itcRpXuAJlz_7z3_U3UCLKWfHp4LmQi"}
          .carousel-item
            %img.d-block.w-100{:alt => "Second slide", :src => "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8sTYV7AO0Fy1F8cfJ7itcRpXuAJlz_7z3_U3UCLKWfHp4LmQi"}/
          .carousel-item
            %img.d-block.w-100{:alt => "Third slide", :src => "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8sTYV7AO0Fy1F8cfJ7itcRpXuAJlz_7z3_U3UCLKWfHp4LmQi"}/




    %table#person.display{data: {source: people_url(format: 'json')}}
      %thead
        %tr
          %th Name
          %th Date Of Birth
          %th Phone Number
      %tbody


    .features.text-center
      .row
        .col-sm-6.col-lg-3
          %i.fa.fa-github.rounded-circle
          %h3 Great Idea
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

        .col-sm-6.col-lg-3
          %i.fa.fa-github.rounded-circle
          %h3 Great Idea
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

        .col-sm-6.col-lg-3
          %i.fa.fa-github.rounded-circle
          %h3 Great Idea
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

        .col-sm-6.col-lg-3
          %i.fa.fa-github.rounded-circle
          %h3 Great Idea
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua


    .overview.text-center
      %h2.h1 Company overview
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
      %h4 Lets Start Today
      %button View More 


    .footer
      .row
        .col-md-4
          .site-info
            %span Elite
            %span Corp

            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

            %a Read More

        .col-md-4
          .helpful-links
            %h2 Helpful Links
            .row
              .col
                %ul.list-unstyled
                  %li About
                  %li Portofolio
                  %li Team
                  %li Price
                  %li Privacy

              .col
                %ul.list-unstyled
                  %li FAQ
                  %li Blog
                  %li How it works
                  %li Benefits
                  %li Contact


        .col-md-4
          .contact
            %h2 Contact Us 
            %ul.list-unstyled
              %li Address:
              %li Phone:
              %li Email:  


      
        

%script
  $('.carousel').carousel()    
