!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    / Required meta tags
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
  %body

    %nav.navbar.navbar-expand-lg.navbar-light
      %a.navbar-brand{href: "#"} 
        %span Elite
        %span Corp

      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbar", "data-toggle" => "collapse", type: "button"}
        %span.navbar-toggler-icon
      #navbar.collapse.navbar-collapse
        %ul.navbar-nav.ml-auto
          %li.nav-item.active
            %a.nav-link{href: "#"}
              Home
              %span.sr-only (current)
          %li.nav-item
            %a.nav-link{href: "#"} About

          %li.nav-item
            %a.nav-link{href: "#"} Work
          
          %li.nav-item
            %a.nav-link{href: "#"} Blog

          %li.nav-item
            %a.nav-link{href: "#"} Contact      
          
    
    .slider
      #carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
        %ol.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleIndicators"}
          %li{"data-slide-to" => "1", "data-target" => "#carouselExampleIndicators"}
          %li{"data-slide-to" => "2", "data-target" => "#carouselExampleIndicators"}
        .carousel-inner
          %h1 
            We're an Independent
            %br
            Design and  
            %span>   Development
            %br 
            Agency
          .overlay

          .carousel-item.active
            %img.d-block.w-100{:alt => "First slide", :src => "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8sTYV7AO0Fy1F8cfJ7itcRpXuAJlz_7z3_U3UCLKWfHp4LmQi"}
          .carousel-item
            %img.d-block.w-100{:alt => "Second slide", :src => "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8sTYV7AO0Fy1F8cfJ7itcRpXuAJlz_7z3_U3UCLKWfHp4LmQi"}/
          .carousel-item
            %img.d-block.w-100{:alt => "Third slide", :src => "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8sTYV7AO0Fy1F8cfJ7itcRpXuAJlz_7z3_U3UCLKWfHp4LmQi"}/




    %table#person.display{data: {source: people_url(format: 'json')}}
      %thead
        %tr
          %th Name
          %th Date Of Birth
          %th Phone Number
      %tbody


    .about.text-center
      %h1 About As
      %h3.lead FINDOUT MORE?
      %p.par.lead Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.



    .features.text-center
      %h1 Our Features 
      .row
        .col-lg-3
          .feat
            %h3 BRANDING
            %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            %img.img-fluid.rounded-circle{:src => ""}/

        .col-lg-3
          .feat
            %h3 DESIGN
            %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            %img.img-fluid.rounded-circle{ :src => ""}/

        .col-lg-3
          .feat
            %h3 PHOTOGRAPHY
            %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            %img.img-fluid.rounded-circle{:src => ""}/

        .col-lg-3
          .feat
            %h3 VIDEOGRAPHY
            %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            %img.img-fluid.rounded-circle{:src => ""}/


    .footer.text-center
      .row
        .col-lg-4
          %h4 Our Services
          %p Dolor church-key veniam

        .col-lg-4
          %h4 LATEST BLOG POST
          %p STAY CONNECTED
          
        .col-lg-4
          %h4 VISIT US      
        

%script
  $('.carousel').carousel()    
