/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require datatables/jquery_datatables
 *= require bootstrap-toggle
 *= require font-awesome
 *= require select2
 *= require select2-bootstrap
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome";

 .navbar-toggler-icon
 {
   background-color: #ffffff; 
 }

/* change the background color */
.navbar-custom {
    background-color: #08526d;
}

.navbar.navbar-expand-lg.navbar-custom a:link
{
  color: #FFF;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}



.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark 
.navbar-nav .active > .nav-link, .navbar-dark .navbar-nav 
.nav-link.show, .navbar-dark .navbar-nav .nav-link.active

{
  background-color: #ec1c23;
}

.navbar-expand-lg .navbar-nav .dropdown-menu
{
  background-color: #08526d;
  border: 3px solid #ec1c23;
  padding: 6px 20px;
  min-width: 200px;

}

.navbar-expand-lg .navbar-nav .dropdown-menu a:link
{
  text-decoration:none;
  
}



.navbar-expand-lg .navbar-nav .dropdown-menu a:hover
{

  background-color: #ec1c23;
   
}

 .dropdown .dropdown-menu .dropdown-item
{

 webkit-transition: padding 0.2s ease;
  moz-transition: padding 0.2s ease;
  o-transition: padding 0.2s ease;
  transition: padding 0.2s ease; 
}

 .dropdown .dropdown-menu a:hover
{
  
  background-color: #ec1c23;
  border-color: #ec1c23;
  padding-left: 30px;
  
}

.dropdown-links a {
  color: #FFF;
}

.nav-item.dropdown #nav-li a:link
{
  color: #FFF;
}



.nav-item.dropdown.active#nav-li > li > a
{
  font-weight: bold;
}




