%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Project
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      .pos-f-t
      #navbarToggleExternalContent.collapse
        .bg-dark.p-4
          %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            %a.navbar-brand{:href => "#"} Brand
            %ul.navbar-nav.ml-auto
              %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
                %span.navbar-toggler-icon
              #navbarSupportedContent.collapse.navbar-collapse
                %ul.navbar-nav.mr-auto
                  %li.nav-item.active
                    %a.nav-link{{:href => root_path}}
                      Home
                      %span.sr-only (current)
                  %li.nav-item.dropdown
                    %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                      Pages
                    .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                      %a.dropdown-item{{:href => profiles_path}} Profile
                      .dropdown-divider
                      %a.dropdown-item{{:href => addresses_path}} Adress

      %nav.navbar.navbar-dark.bg-dark
        %button.navbar-toggler{"aria-controls" => "navbarToggleExternalContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarToggleExternalContent", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon

      #flash_hook
      = yield